Repository 18F/cv_faq, pull requests merged in 2020-04, with the labels that each got.

#502 Adds 6 new FAQs: CDC animals, work
  _content/animals/can-i-walk-my-dog.md
  _content/animals/since-tigers-can-get-infected-should-i-worry-about-my-pet-cat.md
  _content/animals/what-animals-can-get-covid-19.md
  _content/animals/what-should-i-do-if-my-pet-gets-sick.md
  _content/animals/why-are-animals-being-tested-when-people-cant.md
  _content/basics/what-is-a-novel-coronavirus.md
  _content/keeping-home-safe/if-someone-in-my-house-gets-sick.md
  _content/protect-yourself/should-i-go-to-work-if-there-is-an-outbreak-in-my-community.md
  _content/protect-yourself/what-should-people-at-higher-risk-of-serious-illness-with-covid-19-do.md
Labels: content, content origin: tracker (CDC), content: new

#508 Replaces travel advisory alert banner
  _categories/travel.md
Labels: content, content origin: manual review (CDC)

#517 Adds 3 new CDC FAQs for Symptoms & Testing
  _content/symptoms-and-testing/if-i-recover-from-covid19-will-i-be-immune.md
  _content/symptoms-and-testing/kind-of-test-used-to-diagnose-covid19.md
  _content/symptoms-and-testing/what-is-serology-testing.md
Labels: content, content origin: tracker (CDC), content: new

#525 Adds 1 new Treasury FAQ
  _content/financial-help/how-can-i-check-the-status-of-my-economic-impact-payment.md
Labels: content, content origin: email (Treasury), content: new

#528 Adds 1 new CDC FAQ
  _content/protect-yourself/can-cdc-tell-me-when-it-is-safe-to-go-back.md
Labels: content, content origin: tracker (CDC), content: new

#526 Adds link to translated pregnancy FAQ
  _content/pregnancy/what-should-breastfeeding-mothers-do.md
Labels: content, content origin: tracker (CDC)

#515 [WIP-Do not merge] Adds FDA FAQs
  _categories/funerals.md
  _categories/medications.md
  _content/animals/are-there-any-approved-products-to-prevent-covid-19-in-animals.md
  _content/animals/are-there-going-to-be-animal-drug-shortages.md
  _content/animals/if-my-pet-had-species-specific-coronavirus-are-they-more-likely-to-get-covid-19.md
  _content/animals/if-my-pet-has-been-exposed-do-they-need-to-quarantine.md
  _content/animals/if-my-pet-has-been-vaccinated-for-species-specific-cornavirus.md
  _content/animals/is-it-true-animals-get-their-own-types-of-virus.md
  _content/animals/is-the-animal-food-supply-safe.md
  _content/animals/my-pet-has-health-problems.md
  _content/animals/will-there-be-animal-food-shortages.md
  _content/basics/what-is-a-novel-coronavirus.md
  _content/basics/what-treatments-are-available.md
  _content/financial-help/how-do-i-know-if-i-am-an-essential-worker.md
  _content/keeping-home-safe/are-food-products-a-risk-for-spread.md
  _content/keeping-home-safe/can-i-get-coronavirus-from-food.md
  _content/keeping-home-safe/is-the-food-supply-safe.md
  _content/keeping-home-safe/will-there-be-food-shortages.md
  _content/medications/am-i-at-risk-from-taking-fda-approved-drugs-made-in-china.md
  _content/medications/are-antibiotics-effective.md
  _content/medications/are-chloroquine-phosphate-or-hydroxychloroquine-sulfate-approved.md
  _content/medications/are-there-any-approved-medicines.md
  _content/medications/are-there-any-vaccines.md
  _content/medications/are-there-data-showing-chloroquine-phosphate-or-hydroxychloroquine-sulfate-might-benefit-patients.md
  _content/medications/are-there-going-to-be-drug-shortages.md
  _content/medications/is-chloroquine-phosphate-from-aquarium-same-as-that-fda-has-issued.md
  _content/medications/should-i-take-ivermectin.md
  _content/medications/what-is-fda-doing-to-protect-people-from-fraud.md
  _content/medications/will-miracle-mineral-solution-cure-covid-19.md
  _content/parents-and-children/while-school-is-out-should-i-limit-time-with-older-adults.md
  _content/protect-yourself/can-disinfectant-sprays-or-wipes-be-used-on-my-skin.md
  _content/protect-yourself/what-if-i-get-a-rash-hand-sanitizer.md
  _content/rumors/i-built-a-diy-ventilator-may-i-sell-it.md
  _content/rumors/products-online-claim-to-prevent-or-treat.md
  _content/spread/can-i-donate-convalescent-plasma.md
  _content/spread/can-i-get-covid-19-from-a-food-worker.md
  _content/spread/can-the-virus-be-transmitted-by-blood-transfusion.md
  _content/spread/should-ill-food-workers-stay-home.md
  _content/symptoms-and-testing/are-there-home-tests.md
  _content/symptoms-and-testing/how-are-people-tested.md
  _content/symptoms-and-testing/why-arent-blood-centers-testing.md
Labels: content, content origin: email (CDC), content owner: FDA, content: new

#532 Minor edit to CDC FAQ from tracker
  _content/symptoms-and-testing/what-is-serology-testing.md
Labels: content, content origin: tracker (CDC)

#535 Adds 2 new FDA FAQs
  _content/medications/prescribe-chloroquine-or-hydroxychloroquine-off-label.md
Labels: content, content origin: tracker (FDA), content: new

#537 Removes outdated CDC question
  _content/protect-yourself/who-is-at-higher-risk-for-serious-illness-from-covid-19.md
Labels: content origin: manual review (CDC)

#536 Adds missing category to homepage data file
  _data/homepage_order.yml
Labels: content

#547 Edits two existing DHS FAQs
  _content/rumors/are-uscis-offices-closed-for-covid.md
  _content/travel/when-will-the-borders-reopen.md
Labels: content, content origin: email (DHS)

#549 CDC and FDA edits
  _content/animals/can-animals-carry-the-virus.md
  _content/animals/can-i-travel-to-the-us-with-dogs.md
  _content/animals/if-my-pet-has-been-exposed-do-they-need-to-quarantine.md
  _content/animals/should-avoid-contact-with-pets.md
Labels: content, content origin: email (CDC), content owner: FDA

#553 Update README.md to remove broken links to content strategy
  README.md
Labels: content

#555 Removes airline question at Treasury request
  _content/support-for-business/what-resources-are-available-to-the-airline-industry.md
Labels: content, content origin: email (Treasury)

#564 Edits and adds FDA FAQs (2 new)
  _content/symptoms-and-testing/are-there-home-tests.md
  _content/symptoms-and-testing/if-antibody-tests-not-used-for-diagnosis.md
  _content/symptoms-and-testing/kind-of-test-used-to-diagnose-covid19.md
  _content/symptoms-and-testing/when-will-other-tests-be-authorized.md
Labels: content, content origin: tracker (FDA), content: new

#569 Update README to include link to content strategy doc.
  README.md
Labels: content

#571 Revise 1 CDC FAQ for Symptoms & Testing
  _content/symptoms-and-testing/kind-of-test-used-to-diagnose-covid19.md
Labels: content, content origin: email (CDC)

#576 Adds 7 new CDC FAQs, removes duplicate FAQ
  _content/parents-and-children/additional-steps-child-special-healthcare-need.md
  _content/parents-and-children/child-with-special-healthcare-need-higher-risk.md
  _content/parents-and-children/how-can-my-family-cope-with-added-stress.md
  _content/parents-and-children/what-if-child-needs-to-go-to-hospital.md
  _content/parents-and-children/what-if-child-or-someone-in-home-is-sick.md
  _content/parents-and-children/what-if-child-underlying-symptoms-get-worse.md
  _content/parents-and-children/what-to-do-if-child-has-difficulty-adjusting.md
  _content/travel/can-american-citizen-return-recently-traveled.md
Labels: content, content origin: email (CDC), content origin: tracker (CDC), content: new

#583 Update 1 CDC FAQ about mail & packages
  _content/protect-yourself/am-i-at-risk-for-covid-19-from-packages-or-products-shipping-from-china.md
Labels: content, content origin: email (CDC)

#581 Ready for production
  _content/parents-and-children/additional-steps-child-special-healthcare-need.md
  _content/parents-and-children/child-with-special-healthcare-need-higher-risk.md
  _content/parents-and-children/how-can-my-family-cope-with-added-stress.md
  _content/parents-and-children/what-if-child-needs-to-go-to-hospital.md
  _content/parents-and-children/what-if-child-or-someone-in-home-is-sick.md
  _content/parents-and-children/what-if-child-underlying-symptoms-get-worse.md
  _content/parents-and-children/what-to-do-if-child-has-difficulty-adjusting.md
  _content/protect-yourself/am-i-at-risk-for-covid-19-from-packages-or-products-shipping-from-china.md
  _content/travel/can-american-citizen-return-recently-traveled.md
Labels: content, content origin: tracker (CDC)

#584 Added two animal Qs, edited 1
  _content/animals/can-bats-in-us-get-covid19-and-spread-it-to-people.md
  _content/animals/can-wild-animals-spread-covid19-to-people-and-pets.md
  _content/animals/since-tigers-can-get-infected-should-i-worry-about-my-pet-cat.md
Labels: content, content origin: tracker (CDC), content: new

#591 Edits testing FAQ with CDC approval
  _content/symptoms-and-testing/kind-of-test-used-to-diagnose-covid19.md
Labels: content, content origin: email (CDC), content origin: tracker (CDC)

#594 Adds, removes, and updates Treasury FAQs: 7 new, 2 removed
  _content/financial-help/how-can-i-file-the-tax-return-needed-to-receive-payment.md
  _content/financial-help/i-am-a-veteran-do-i-need-to-provide-information-to-irs.md
  _content/financial-help/i-am-not-typically-required-to-file-a-tax-return.md
  _content/financial-help/i-no-longer-have-a-bank-account-i-used-for-tax-return.md
  _content/financial-help/i-recently-filed-what-do-i-need-to-do-to-get-payment.md
  _content/financial-help/the-irs-does-not-have-my-direct-deposit-information.md
  _content/financial-help/what-do-i-do-if-i-cant-pay-mortgage.md
  _content/financial-help/what-do-i-do-if-i-cant-pay-rent.md
  _content/financial-help/what-do-i-do-if-someone-calls-texts-claiming-to-be-irs.md
  _content/financial-help/what-does-it-mean-get-my-payment-please-try-again.md
Labels: content, content origin: email (Treasury), content: new

#597 Fix typo and add descriptive link
  _content/financial-help/what-do-i-do-if-i-cant-pay-mortgage.md
Labels: content, content origin: email (Treasury)

#600 Updated to add new symptoms, revise url and date
  _content/symptoms-and-testing/what-are-the-symptoms-and-complications-that-covid-19-can-cause.md
Labels: content

#602 Adds USDA FAQs (Ready for Publish)
  _agencies/usda.md
  _categories/food-safety.md
  _content/financial-help/can-snap-participants-order-groceries-online.md
  _content/financial-help/if-my-financial-situation-changed-could-i-be-eligible-for-snap.md
  _content/food-safety/are-meats-compromised-by-covid19.md
  _content/food-safety/is-there-guidance-on-food-planning.md
  _content/food-safety/where-can-i-find-info-about-nutrition-assistance.md
  _content/parents-and-children/can-parents-pick-up-meals-for-their-kids-without-them-present.md
  _content/parents-and-children/can-schools-provide-home-delivery-of-meals.md
  _content/parents-and-children/can-schools-provide-multiple-meals-at-once.md
  _content/parents-and-children/can-schools-serve-meals-while-they-are-closed.md
  _content/parents-and-children/do-school-meals-still-have-to-meet-nutrition-requirements.md
  _data/homepage_order.yml
Labels: content, content origin: email (USDA), content: new

#606 Adds edited USDA FAQs
  _content/financial-help/what-happens-to-snap-recipients-who-cannot-meet-work-requirements-due-to-covid19.md
  _content/parents-and-children/what-action-is-being-taken-to-ensure-children-have-food-while-schools-are-closed.md
  _content/protect-yourself/can-the-public-still-visit-national-forest-recreation-sites.md
Labels: content, content origin: email (USDA), content: new

#568 Converts list items in paragraph to bulleted list
  _content/basics/is-there-a-list-of-essential-industries.md
  _content/medications/what-is-fda-doing-to-protect-people-from-fraud.md
Labels: content

#500 link to the site source code
  _includes/footer.html
Labels: v1.2

#590 Add Google Tag Manager script and iframe tags
  README.md
  _includes/google-tag-manager.html
  _includes/meta.html
  _layouts/default.html
Labels: v1.2

#611 Edit to "What action is being taken..." FAQ (missing word)
  _content/parents-and-children/what-action-is-being-taken-to-ensure-children-have-food-while-schools-are-closed.md
Labels: content, content origin: email (USDA)

#603 Edits CDC water transmission FAQs
  _content/water-transmission/can-the-covid-19-virus-spread-through-drinking-water.md
  _content/water-transmission/can-the-covid-19-virus-spread-through-pools-and-hot-tubs.md
  _content/water-transmission/is-the-covid-19-virus-found-in-feces.md
  _content/water-transmission/should-wasterwater-workers-take-extra-precautions-to-protect-from-covid19.md
Labels: content, content origin: email (CDC), content origin: tracker (CDC)

#614 Fix typo in food FAQ answer; update food-safety category
  _content/food-safety/are-food-products-a-risk-for-spread.md
  _content/food-safety/can-i-get-coronavirus-from-food.md
  _content/food-safety/is-the-food-supply-safe.md
  _content/food-safety/will-there-be-food-shortages.md
  _data/homepage_order.yml
Labels: content

#612 Ready for production #611
  .github/ISSUE_TEMPLATE/content-template.md
  .github/ISSUE_TEMPLATE/engineering-issue-template.md
  _content/basics/is-there-a-list-of-essential-industries.md
  _content/financial-help/what-happens-to-snap-recipients-who-cannot-meet-work-requirements-due-to-covid19.md
  _content/food-safety/are-food-products-a-risk-for-spread.md
  _content/food-safety/can-i-get-coronavirus-from-food.md
  _content/food-safety/is-the-food-supply-safe.md
  _content/food-safety/will-there-be-food-shortages.md
  _content/medications/what-is-fda-doing-to-protect-people-from-fraud.md
  _content/parents-and-children/what-action-is-being-taken-to-ensure-children-have-food-while-schools-are-closed.md
  _content/protect-yourself/can-the-public-still-visit-national-forest-recreation-sites.md
  _content/water-transmission/can-the-covid-19-virus-spread-through-drinking-water.md
  _content/water-transmission/can-the-covid-19-virus-spread-through-pools-and-hot-tubs.md
  _content/water-transmission/is-the-covid-19-virus-found-in-feces.md
  _content/water-transmission/should-wasterwater-workers-take-extra-precautions-to-protect-from-covid19.md
  _data/homepage_order.yml
Labels: content, engineering

#610 VA Content 04-27-20
  _agencies/va.md
  _content/financial-help/do-online-classes-still-qualify-for-gi-bill-benefits.md
  _content/funerals/are-department-of-veterans-affairs-national-cemetaries-open.md
  _content/funerals/can-i-schedule-burial-national-cemetary.md
  _content/funerals/can-i-schedule-committal-service-military-funeral-service-honors.md
  _content/retirement-communities/planning-and-preparedness/can-i-visit-patient-at-department-of-veterans-affairs-facility.md
Labels: content, content origin: email (VA), content: new

#577 Styling updates
  .gitignore
  404.html
  README.md
  _assets/css/_footer.scss
  _assets/css/_header.scss
  _assets/css/_hero.scss
  _assets/css/_home.scss
  _assets/css/_posts.scss
  _assets/css/_search.scss
  _assets/css/_uswds_theme.scss
  _assets/images/icons/caret-blue.svg
  _assets/images/icons/caret-white.svg
  _assets/images/icons/chart.svg
  _assets/images/icons/globe.svg
  _assets/images/icons/group.svg
  _assets/images/icons/money.svg
  _assets/images/icons/plane.svg
  _assets/images/icons/stethoscope.svg
  _assets/images/icons/test.svg
  _assets/images/logos/cdc.svg
  _assets/images/logos/fema.svg
  _assets/images/logos/whitehouse.svg
  _content/protect-yourself/what-type-of-cloth-face-covering.md
  _data/homepage_promotion.yml
  _includes/breadcrumb.html
  _includes/content-questions.html
  _includes/footer.html
  _includes/google-tag-manager.html
  _includes/hero.html
  _includes/logo-text.html
  _includes/meta.html
  _includes/questions-box.html
  _includes/search.html
  _includes/top-questions.html
  _includes/usa-header.html
  _layouts/default.html
  test/index.html.test.js
Labels: content, engineering, v1.2
