Repository 18F/cv_faq, pull requests merged in 2020-12, with the labels that each got.

#1220 CDC Holidays
  _content/holidays.md
Labels: (00) content

#1221 CDC Holiday language change, some dependencies
  _content/holidays.md
  package-lock.json
  package.json
Labels: (00) content, (10) dependencies

#1234 CDC Updates
  _categories/symptoms-and-testing.md
  _categories/travel.md
  _categories/treatments-vaccines-immunity.md
  _content/air-travel.md
  _content/are-there-any-vaccines-to-prevent-covid-19.md
  _content/close-contact-covid-19.md
  _content/close-contact-will-i-be-tested.md
  _content/contact-tracing-exposed.md
  _content/exposed-but-feel-fine.md
  _content/exposed-but-negative-test-still-quarantine.md
  _content/travel-guidance.md
  _content/what-treatments-are-available.md
Labels: (00) content

#1235 CDC updates and dependency upgrades
  _categories/symptoms-and-testing.md
  _categories/travel.md
  _categories/treatments-vaccines-immunity.md
  _content/air-travel.md
  _content/are-there-any-vaccines-to-prevent-covid-19.md
  _content/close-contact-covid-19.md
  _content/close-contact-will-i-be-tested.md
  _content/contact-tracing-exposed.md
  _content/exposed-but-feel-fine.md
  _content/exposed-but-negative-test-still-quarantine.md
  _content/travel-guidance.md
  _content/what-treatments-are-available.md
  package-lock.json
  package.json
Labels: (00) content, (10) dependencies

#1239 CDC Updates -- 6 FAQs
  _content/are-people-with-disabilities-at-higher-risk.md
  _content/does-cdc-recommend-masks.md
  _content/should-children-wear-face-masks.md
  _content/vaccine-development.md
  _content/who-is-at-higher-risk-for-serious-illness-from-covid-19.md
  _content/why-vaccine.md
Labels: (00) content

#1241 CDC updates and dependencies
  _content/are-people-with-disabilities-at-higher-risk.md
  _content/does-cdc-recommend-masks.md
  _content/should-children-wear-face-masks.md
  _content/vaccine-development.md
  _content/who-is-at-higher-risk-for-serious-illness-from-covid-19.md
  _content/why-vaccine.md
  package-lock.json
  package.json
Labels: (00) content

#1242 FDA Vaccine FAQ--New
  _categories/treatments-vaccines-immunity.md
  _content/covid-19-vaccine.md
  _data/homepage_promotion.yml
Labels: (00) content

#1243 Vaccine FAQ
  _categories/treatments-vaccines-immunity.md
  _content/covid-19-vaccine.md
  _data/homepage_promotion.yml
Labels: (00) content

#1244 Two FDA Updates
  _content/covid-19-vaccine.md
  _content/what-treatments-are-available.md
Labels: (00) content

#1245 2 FDA updates
  _content/covid-19-vaccine.md
  _content/what-treatments-are-available.md
Labels: (00) content

#1251 Updated vaccine-development
  _content/vaccine-development.md
Labels: (00) content

#1252 Add EUA link to vaccine dev FAQ
  _content/vaccine-development.md
Labels: (00) content

#1253 Vaccine FAQ updates and dependencies, plus search fallbacks
  _content/vaccine-development.md
  package-lock.json
  package.json
  scripts/components/search-results.js
  scripts/services/search/local.js
Labels: (00) content, (10) dependencies, (20) Improve search

#1254 Updated FAQ with bad source url
  _content/air-travel.md
Labels: (00) content

#1255 Update source bad source url on Air Travel FAQ
  _content/air-travel.md
Labels: (00) content

#1263 FDA FAQs - EUA Moderna
  _content/covid-19-vaccine.md
  _content/vaccine-development.md
Labels: (00) content

#1264 Update to vaccine FAQs and bump USWDS to 2.10
  _content/covid-19-vaccine.md
  _content/vaccine-development.md
  package-lock.json
  package.json
Labels: (00) content, (10) dependencies

#1267 Update Moderna vaccine info
  _content/vaccine-development.md
Labels: (00) content

#1268 Dependencies and update to vaccine FAQ
  _content/vaccine-development.md
  package-lock.json
  package.json
Labels: (00) content, (10) dependencies

#1271 FDA at home collection/tests
  _categories/symptoms-and-testing.md
  _content/are-there-home-tests.md
  _content/at-home-covid-19-collection-testing.md
Labels: (00) content

#1273 Update to Treasury's 2nd round of EIPs FAQ
  _content/will-government-provide-second-round-economic-impact-payments.md
Labels: (00) content

#1274 Update to Treasury FAQ on second round of EIPs
  _content/will-government-provide-second-round-economic-impact-payments.md
Labels: (00) content

#1277 Treasury/IRS New and Updated FAQs
  _categories/financial-help.md
  _content/eip-tax-records.md
  _content/how-will-the-irs-know-where-to-send.md
  _content/i-am-not-typically-required-to-file-a-tax-return.md
  _content/more-people-eligible-eip.md
  _content/non-filers-eip-eligibility.md
  _content/paper-check-debit-card.md
  _content/who-is-eligible-for-payment.md
  _content/why-am-i-receiving-a-debit-card.md
Labels: (00) content

#1278 Treasury/IRS updates and additions
  _categories/financial-help.md
  _content/eip-tax-records.md
  _content/how-will-the-irs-know-where-to-send.md
  _content/i-am-not-typically-required-to-file-a-tax-return.md
  _content/more-people-eligible-eip.md
  _content/non-filers-eip-eligibility.md
  _content/paper-check-debit-card.md
  _content/who-is-eligible-for-payment.md
  _content/why-am-i-receiving-a-debit-card.md
Labels: (00) content
