Repository 18F/cv_faq, pull requests merged in 2020-07, with the labels that each got.

#859 CDC-Parents-And-Family-Changes
  _content/parents-and-children/how-can-i-keep-my-children-healthy.md
  _content/parents-and-children/how-can-i-prepare-in-case-my-childs-school-is-dismissed.md
  _content/parents-and-children/how-should-parents-talk-to-children-about-covid19.md
  _content/parents-and-children/what-to-do-if-child-has-difficulty-adjusting.md
  _content/parents-and-children/while-school-is-out-can-my-child-hang-with-friend.md
  _content/parents-and-children/while-school-is-out-how-can-i-help-my-child-continue-learning.md
  _content/parents-and-children/while-school-is-out-how-can-i-keep-my-family-healthy.md
Labels: (00) content

#863 CDC family changes to production
  Rakefile
  _content/parents-and-children/how-can-i-keep-my-children-healthy.md
  _content/parents-and-children/how-can-i-prepare-in-case-my-childs-school-is-dismissed.md
  _content/parents-and-children/how-should-parents-talk-to-children-about-covid19.md
  _content/parents-and-children/what-to-do-if-child-has-difficulty-adjusting.md
  _content/parents-and-children/while-school-is-out-can-my-child-hang-with-friend.md
  _content/parents-and-children/while-school-is-out-how-can-i-help-my-child-continue-learning.md
  _content/parents-and-children/while-school-is-out-how-can-i-keep-my-family-healthy.md
  _content/support-for-business/where-should-a-small-business-go-to-find-help.md
Labels: (00) content

#864 CDC-Redirect Fix
  _content/parents-and-children/how-can-i-keep-my-children-healthy.md
Labels: (00) content

#865 CDC-Redirect Fix
  _content/parents-and-children/how-can-i-keep-my-children-healthy.md
Labels: (00) content

#874 Treasury-Taxes-Additions-And-Revisions
  _content/financial-help/already-filed-extension-but-have-not-paid-taxes.md
  _content/financial-help/expect-to-file-taxes-by-July-15.md
  _content/financial-help/unable-to-file-taxes-by-July-15.md
  _content/financial-help/what-if-i-cant-complete-my-taxes-by-april-15.md
Labels: (00) content

#877 Treasury-Taxes-Additions-And-Revisions
  _content/financial-help/already-filed-extension-but-have-not-paid-taxes.md
  _content/financial-help/expect-to-file-taxes-by-July-15.md
  _content/financial-help/unable-to-file-taxes-by-July-15.md
  _content/financial-help/what-if-i-cant-complete-my-taxes-by-april-15.md
Labels: (00) content

#883 WIP: Spell out all agency names (titles) in agency files
  _agencies/cdc.md
  _agencies/dhs.md
  _agencies/fcc.md
  _agencies/fda.md
  _agencies/fema.md
  _agencies/ftc.md
  _agencies/irs.md
  _agencies/sba.md
  _agencies/treasury.md
  _agencies/usda.md
  _agencies/va.md
  _includes/accordion.html
  _includes/sources.html
Labels: (10) Do not merge, (20) Improve content

#885 Spell out full agency names in FAQ citation
  _agencies/cdc.md
  _agencies/dhs.md
  _agencies/fcc.md
  _agencies/fda.md
  _agencies/fema.md
  _agencies/ftc.md
  _agencies/irs.md
  _agencies/sba.md
  _agencies/treasury.md
  _agencies/usda.md
  _agencies/va.md
  _includes/accordion.html
  _includes/sources.html
Labels: (20) Improve content

#890 Address inbound pages resulting in 404s
  _categories/parents-and-children.md
  _categories/rumors.md
  index.html
Labels: (00) content

#892 CDC Pregnancy FAQS: 1 New, 2 Deletions
  _content/pregnancy/can-covid19-cause-problems-for-pregnancy.md
  _content/pregnancy/i-am-pregnant-what-are-the-risks.md
  _content/pregnancy/if-a-pregnant-woman-has-covid-19-during-pregnancy-will-it-hurt-the-baby.md
Labels: (00) content

#898 CDC Immunity Duplication Deletion
  _content/spread/if-i-have-recovered-will-i-be-immune.md
  _content/symptoms-and-testing/if-i-recover-from-covid19-will-i-be-immune.md
Labels: (00) content

#899 Dependencies and deletion of duplicate content
  _content/spread/if-i-have-recovered-will-i-be-immune.md
  _content/symptoms-and-testing/if-i-recover-from-covid19-will-i-be-immune.md
  package-lock.json
  package.json
Labels: (00) content, (10) dependencies

#906 CDC additions/updates/minor fixes to existing content and updated homepage link
  _content/basics/how-can-I-manage-anxiety-stress.md
  _content/basics/how-can-people-help-stop-stigma-related-to-COVID-19.md
  _content/protect-yourself/how-can-I-help-protect-myself.md
  _content/protect-yourself/how-can-I-protect-myself.md
  _data/homepage_promotion.yml
Labels: (00) content

#910 Ftc new faqs
  _content/basics/donations-to-charities.md
  _content/medications/ads-for-covid-treatments-and-cures.md
  _content/protect-yourself/i-ordered-facemasks-and-they-did-not-arrive.md
  _content/rumors/how-can-i-find-out-about-frauds-and-scams.md
  _content/rumors/i-am-getting-calls-from-people-claiming-they-are-from-the-government.md
  _content/support-for-business/calls-to-small-businesses-promising-quick-financial-relief.md
Labels: (00) content

#914 Dependencies, Best Bets implementation, FTC FAQs
  _content/basics/donations-to-charities.md
  _content/medications/ads-for-covid-treatments-and-cures.md
  _content/protect-yourself/i-ordered-facemasks-and-they-did-not-arrive.md
  _content/rumors/how-can-i-find-out-about-frauds-and-scams.md
  _content/rumors/i-am-getting-calls-from-people-claiming-they-are-from-the-government.md
  _content/support-for-business/calls-to-small-businesses-promising-quick-financial-relief.md
  package-lock.json
  package.json
  scripts/components/search-results.js
  scripts/services/search/search-gov.js
  styles/_search.scss
Labels: (00) content, (00) engineering

#917 Treasury Tax Day Revisions
  _content/financial-help/already-filed-extension-but-have-not-paid-taxes.md
  _content/financial-help/i-have-not-filed-my-tax-return-for-2018-or-2019.md
  _content/financial-help/is-the-government-delaying-tax-day.md
  _content/financial-help/missed-tax-day.md
  _content/financial-help/unable-to-file-taxes-by-july-15.md
Labels: (00) content

#918 Treasury Tax Changes
  _content/financial-help/already-filed-extension-but-have-not-paid-taxes.md
  _content/financial-help/expect-to-file-taxes-by-july-15.md
  _content/financial-help/i-have-not-filed-my-tax-return-for-2018-or-2019.md
  _content/financial-help/is-the-government-delaying-tax-day.md
  _content/financial-help/missed-tax-day.md
  _content/financial-help/unable-to-file-taxes-by-july-15.md
Labels: (00) content

#925 CDC Pregnancy FAQs
  _content/pregnancy/can-covid-19-be-passed-from-a-pregnant-woman-to-her-fetus-or-newborn.md
  _content/pregnancy/how-can-pregnant-women-protect-themselves-from-getting-covid-19.md
  _content/pregnancy/what-is-the-risk-to-pregnant-women-of-getting-covid-19.md
  _content/pregnancy/what-should-breastfeeding-mothers-do.md
Labels: (00) content

#938 FEMA Broken Link Fixes
  _content/rumors/fema-and-acquisition-of-ppe.md
  _content/rumors/how-is-the-national-guard-responding.md
  _content/rumors/is-fema-suspending-rent-for-people-in-certain-states.md
Labels: (00) content
