Repository 18F/cv_faq, pull requests merged in 2020-05, with the labels that each got.

#637 Update and rename can-i-schedule-burial-national-cemetary.md to can-i…
  _content/funerals/can-i-schedule-burial-national-cemetery.md
Labels: content

#642 Adds/updates FEMA content
  _agencies/doj.md
  _content/rumors/did-fema-seize-supplies-from-va.md
  _content/rumors/is-fema-deploying-the-military.md
  _content/rumors/is-fema-seizing-personal-protective-equipment.md
  _content/rumors/is-fema-suspending-rent-for-people-in-certain-states.md
Labels: content, content origin: email (FEMA), content: new

#645 Adding a new Treasury FAQ
  _content/financial-help/what-do-i-do-if-a-payment-was-sent-to-someone-who-died.md
Labels: content, content origin: email (Treasury), content: new

#674 Update re-opening date on USCIS
  _content/rumors/are-uscis-offices-closed-for-covid.md
Labels: content, content origin: email (DHS)

#657 2020-05-06 new content from Cleaning and Disinfecting FAQs on CDC.gov
  _content/community-events/is-it-safe-to-vacuum-in-a-school-business-or-community-facility-after-someone-with-covid-19-present.md
  _content/community-events/who-should-clean-and-disinfect-community-spaces.md
  _content/funerals/am-i-at-risk-touch-body.md
  _content/keeping-home-safe/what-is-the-difference-between-cleaning-and-disinfecting.md
  _content/parents-and-children/should-outdoor-playgrounds-be-cleaned-and-disinfected.md
  _content/protect-yourself/how-effective-are-alternative-disinfection-methods.md
  _content/protect-yourself/how-long-do-companies-need-to-close-for-disinfection-after-an-exposure.md
  _content/protect-yourself/is-cleaning-alone-effective-against-the-virus.md
  _content/protect-yourself/what-is-routine-cleaning.md
  _content/spread/can-sanitizing-tunnels-be-used-to-prevent-spread.md
  _content/spread/should-sidewalks-and-roads-be-disinfected-to-prevent-COVID-19.md
  _content/spread/should-sidewalks-and-roads-be-disinfected-to-prevent-spread.md
Labels: content, content origin: tracker (CDC), content: new

#651 Updates CDC FAQs
  _content/funerals/if-someone-dies-overseas.md
  _content/spread/can-the-virus-that-causes-covid-19-be-spread-through-food.md
  _content/travel/should-i-travel-within-the-us.md
Labels: content, content origin: manual review (CDC)

#690 Update CDC FAQs from 5-6 updates
  _content/funerals/if-someone-dies-overseas.md
  _content/spread/can-the-virus-that-causes-covid-19-be-spread-through-food.md
  _content/travel/should-i-travel-within-the-us.md
Labels: content, content origin: email (CDC)

#706 Updated DHS border reopening FAQ
  _content/travel/when-will-the-borders-reopen.md
Labels: content, content origin: email (DHS)

#711 DHS update date 20200520
  _content/travel/when-will-the-borders-reopen.md
Labels: content, content origin: email (DHS)

#718 Updates to existing Treasury FAQs
  _content/financial-help/i-am-a-veteran-do-i-need-to-provide-information-to-irs.md
  _content/support-for-business/how-to-apply-for-a-small-business-loan.md
  _content/support-for-business/how-to-apply-for-benefits.md
Labels: content, content origin: email (Treasury)

#727 FEMA hurricane season FAQs
  _content/protect-yourself/how-do-i-prepare-for-hurricane-season-during-covid19.md
  _content/protect-yourself/if-i-need-to-evacuate-my-home-during-the-covid19-pandemic.md
Labels: content, content origin: email (FEMA)

#730 Created new CDC MIS-C FAQ
  _content/parents-and-children/what-is-multisystem-inflammatory-syndrome-in-children.md
Labels: content, content origin: manual review (CDC)

#735 CDC FAQ on MIS-C and wiki process diagram update
  _assets/uploads/FAQ content service desk process.png
  _assets/uploads/FAQ-content-service-desk-process.png
  _content/parents-and-children/what-is-multisystem-inflammatory-syndrome-in-children.md
Labels: content, content origin: manual review (CDC)

#740 Treasury add payment cards faq 20200527
  _content/financial-help/is-the-irs-sending-prepaid-debit-cards.md
Labels: content, content origin: email (Treasury), content: new

#743 DHS airport screening 2020 05 27
  _content/travel/which-airports-have-enhanced-travel-screening.md
  _content/travel/which-countries-are-subject-travel-restrictions-us.md
Labels: content, content origin: manual review (DHS)

#739 Various minor changes 2020 05 27
  _content/financial-help/is-the-government-delaying-tax-day.md
  _content/keeping-home-safe/if-someone-in-my-house-gets-sick.md
  _content/protect-yourself/can-cdc-tell-me-when-it-is-safe-to-go-back.md
  _content/protect-yourself/should-i-go-to-work-if-there-is-an-outbreak-in-my-community.md
  _content/retirement-communities/planning-and-preparedness/how-can-my-retirement-community-or-independent-living-facility-prepare.md
  _content/spread/how-does-the-virus-spread.md
  _content/travel/can-american-citizen-return-to-us.md
  _content/travel/what-can-I-expect-when-arriving-to-the-united-states.md
Labels: content, content origin: manual review (CDC), content origin: manual review (DHS), content origin: manual review (FEMA)

#747 Removing two rumor FAQs at FEMA request
  _content/rumors/do-i-need-a-photo-id-to-be-tested.md
  _content/rumors/should-i-worry-about-hantavirus.md
Labels: content, content origin: email (FEMA), content origin: manual review (FEMA)
