Repository 18F/cv_faq, pull requests merged in 2020-06, with the labels that each got.

#754 DHS airport additions 2020 05 29
  _content/travel/can-american-citizen-return-to-us.md
  _content/travel/which-airports-have-enhanced-travel-screening.md
  _content/travel/which-countries-are-subject-travel-restrictions-us.md
Labels: content, content origin: manual review (DHS)

#763 Redirecting deprecated content
  _categories/financial-help.md
  _content/financial-help/how-will-the-irs-know-where-to-send.md
  _content/financial-help/i-have-not-filed-my-tax-return-for-2018-or-2019.md
Labels: 00-bug

#773 Nursing home admin content removal and move of VA FAQ to Protect Yourself
  _categories/retirement-communities.md
  _content/protect-yourself/can-i-visit-patient-at-department-of-veterans-affairs-facility.md
  _content/retirement-communities/case-in-the-facility/what-should-administrators-do-if-resident-or-staff-show-symptoms.md
  _content/retirement-communities/case-in-the-facility/what-should-administrators-do-if-there-is-a-case-covid-19-in-our-facility.md
  _content/retirement-communities/planning-and-preparedness/does-cdc-have-recommendations-for-cleaning-and-disinfecting-surfaces.md
  _content/retirement-communities/planning-and-preparedness/how-can-my-retirement-community-or-independent-living-facility-prepare.md
  _content/retirement-communities/planning-and-preparedness/what-actions-can-residents-and-staff-take-to-prevent-spread.md
  _content/retirement-communities/planning-and-preparedness/what-resources-does-cdc-have-available.md
  _data/homepage_order.yml
Labels: (10) Do not merge

#776 Pointing deprecated pages to site root when no suitable redirect available
  _categories/travel.md
  index.html
Labels: (00) content, (10) Do not merge

#777 Content removal and redirects
  _categories/retirement-communities.md
  _categories/travel.md
  _content/protect-yourself/can-i-visit-patient-at-department-of-veterans-affairs-facility.md
  _content/retirement-communities/case-in-the-facility/what-should-administrators-do-if-resident-or-staff-show-symptoms.md
  _content/retirement-communities/case-in-the-facility/what-should-administrators-do-if-there-is-a-case-covid-19-in-our-facility.md
  _content/retirement-communities/planning-and-preparedness/does-cdc-have-recommendations-for-cleaning-and-disinfecting-surfaces.md
  _content/retirement-communities/planning-and-preparedness/how-can-my-retirement-community-or-independent-living-facility-prepare.md
  _content/retirement-communities/planning-and-preparedness/what-actions-can-residents-and-staff-take-to-prevent-spread.md
  _content/retirement-communities/planning-and-preparedness/what-resources-does-cdc-have-available.md
  _data/homepage_order.yml
  index.html
Labels: (00) content

#775 DHS Travel and Immigration Changes
  _content/rumors/are-uscis-offices-closed-for-covid.md
  _content/rumors/are-uscis-offices-open.md
  _content/travel/what-expect-airport-security-checkpoints.md
Labels: (00) content

#790 CDC (Water) and VA (Burial) Changes
  _content/funerals/can-i-schedule-burial-national-cemetery.md
  _content/funerals/can-i-schedule-committal-service-military-funeral-service-honors.md
  _content/water-transmission/can-the-covid-19-virus-spread-through-sewerage-systems.md
  _content/water-transmission/should-wasterwater-workers-take-extra-precautions-to-protect-from-covid19.md
Labels: (00) content, (99) content origin: email (CDC), (99) content origin: email (VA)

#791 CDC (Water) and VA (Burial) Changes
  _content/funerals/can-i-schedule-burial-national-cemetery.md
  _content/funerals/can-i-schedule-committal-service-military-funeral-service-honors.md
  _content/water-transmission/can-the-covid-19-virus-spread-through-sewerage-systems.md
  _content/water-transmission/should-wasterwater-workers-take-extra-precautions-to-protect-from-covid19.md
Labels: (00) content

#792 usda update snap groceries question 20200611
  _content/financial-help/can-snap-participants-order-groceries-online.md
Labels: (00) content, (99) content origin: email (USDA)

#793 usda update snap groceries question
  README.md
  _config.yml
  _content/financial-help/can-snap-participants-order-groceries-online.md
  _plugins/jekyll_config_netlify_cms.rb
  admin/_config.yml
  admin/_content_collection_template.yml
  admin/index.html
Labels: (00) content

#794 USDA Date Changes
  _content/financial-help/if-my-financial-situation-changed-could-i-be-eligible-for-snap.md
  _content/financial-help/what-happens-to-snap-recipients-who-cannot-meet-work-requirements-due-to-covid19.md
  _content/food-safety/are-meats-compromised-by-covid19.md
  _content/food-safety/is-there-guidance-on-food-planning.md
  _content/food-safety/where-can-i-find-info-about-nutrition-assistance.md
  _content/parents-and-children/can-parents-pick-up-meals-for-their-kids-without-them-present.md
  _content/parents-and-children/can-schools-provide-home-delivery-of-meals.md
  _content/parents-and-children/can-schools-provide-multiple-meals-at-once.md
  _content/parents-and-children/can-schools-serve-meals-while-they-are-closed.md
  _content/parents-and-children/do-school-meals-still-have-to-meet-nutrition-requirements.md
  _content/parents-and-children/what-action-is-being-taken-to-ensure-children-have-food-while-schools-are-closed.md
  _content/protect-yourself/can-the-public-still-visit-national-forest-recreation-sites.md
Labels: (00) content, (99) content origin: email (USDA)

#795 USDA date updates
  _content/financial-help/if-my-financial-situation-changed-could-i-be-eligible-for-snap.md
  _content/financial-help/what-happens-to-snap-recipients-who-cannot-meet-work-requirements-due-to-covid19.md
  _content/food-safety/are-meats-compromised-by-covid19.md
  _content/food-safety/is-there-guidance-on-food-planning.md
  _content/food-safety/where-can-i-find-info-about-nutrition-assistance.md
  _content/parents-and-children/can-parents-pick-up-meals-for-their-kids-without-them-present.md
  _content/parents-and-children/can-schools-provide-home-delivery-of-meals.md
  _content/parents-and-children/can-schools-provide-multiple-meals-at-once.md
  _content/parents-and-children/can-schools-serve-meals-while-they-are-closed.md
  _content/parents-and-children/do-school-meals-still-have-to-meet-nutrition-requirements.md
  _content/parents-and-children/what-action-is-being-taken-to-ensure-children-have-food-while-schools-are-closed.md
  _content/protect-yourself/can-the-public-still-visit-national-forest-recreation-sites.md
Labels: (00) content

#797 FDA hydroxychloroquine 20200616
  _content/medications/are-chloroquine-phosphate-or-hydroxychloroquine-sulfate-approved.md
Labels: (00) content

#798 FDA hydroxychloroquine Update
  _content/medications/are-chloroquine-phosphate-or-hydroxychloroquine-sulfate-approved.md
Labels: (00) content

#799 FDA Hydroxychloroquine Redirects
  _content/medications/are-chloroquine-phosphate-or-hydroxychloroquine-sulfate-approved.md
  _content/medications/are-there-data-showing-chloroquine-phosphate-or-hydroxychloroquine-sulfate-might-benefit-patients.md
  _content/medications/prescribe-chloroquine-or-hydroxychloroquine-off-label.md
Labels: (00) content

#802 Aquarium chloroquine phosphate
  _content/medications/should-I-take-acquarium-chloroquine-phosphate.md
Labels: (00) content, (99) content origin: email (FDA)

#803 File name change to fix spelling error
  _content/medications/should-I-take-aquarium-chloroquine-phosphate.md
Labels: (00) content

#800 FDA hydroxychloroquine redirects
  _content/medications/are-chloroquine-phosphate-or-hydroxychloroquine-sulfate-approved.md
  _content/medications/are-there-data-showing-chloroquine-phosphate-or-hydroxychloroquine-sulfate-might-benefit-patients.md
  _content/medications/prescribe-chloroquine-or-hydroxychloroquine-off-label.md
  _content/medications/should-I-take-aquarium-chloroquine-phosphate.md
Labels: (00) content

#804 Revised chloroquine phosphate recommendations
  _content/medications/are-chloroquine-phosphate-hydroxychloroquine-effective.md
  _content/medications/are-chloroquine-phosphate-or-hydroxychloroquine-sulfate-approved.md
Labels: (00) content

#805 Revised chloroquine phosphate recommendations
  _content/medications/are-chloroquine-phosphate-hydroxychloroquine-effective.md
  _content/medications/are-chloroquine-phosphate-or-hydroxychloroquine-sulfate-approved.md
Labels: (00) content

#809 Updated reviewed date for 3 FAQs and updated content for 2 FAQs
  _content/basics/what-treatments-are-available.md
  _content/financial-help/who-is-eligible-for-payment.md
  _content/food-safety/will-there-be-food-shortages.md
  _content/medications/are-there-any-vaccines.md
  _content/parents-and-children/while-school-is-out-should-i-limit-time-with-older-adults.md
  _content/protect-yourself/if-i-need-to-evacuate-my-home-during-the-covid19-pandemic.md
  _content/rumors/FEMA-and-acquisition-of-PPE.md
  _content/rumors/are-older-folks-the-only-ones-at-risk.md
  _content/rumors/did-fema-block-shipments-of-ventilators-to-my-state.md
  _content/rumors/did-fema-seize-supplies-from-va.md
  _content/rumors/do-i-need-to-register-with-fema-to-be-considered-for-help.md
  _content/rumors/how-is-the-national-guard-responding.md
  _content/rumors/is-dhs-deploying-the-national-guard.md
  _content/rumors/is-fema-deploying-the-military.md
  _content/rumors/is-fema-seizing-personal-protective-equipment.md
  _content/rumors/is-fema-suspending-rent-for-people-in-certain-states.md
  _content/rumors/is-the-government-sending-everyone-money.md
  _content/rumors/is-there-a-national-lockdown.md
  _content/rumors/on-medicare-and-someone-offered-me-a-test.md
  _content/rumors/should-i-stock-up-on-food-and-supplies.md
Labels: (00) content

#812 FEMA Updates from Review
  _content/basics/what-treatments-are-available.md
  _content/financial-help/who-is-eligible-for-payment.md
  _content/food-safety/will-there-be-food-shortages.md
  _content/medications/are-there-any-vaccines.md
  _content/parents-and-children/while-school-is-out-should-i-limit-time-with-older-adults.md
  _content/protect-yourself/if-i-need-to-evacuate-my-home-during-the-covid19-pandemic.md
  _content/rumors/FEMA-and-acquisition-of-PPE.md
  _content/rumors/are-older-folks-the-only-ones-at-risk.md
  _content/rumors/did-fema-block-shipments-of-ventilators-to-my-state.md
  _content/rumors/did-fema-seize-supplies-from-va.md
  _content/rumors/do-i-need-to-register-with-fema-to-be-considered-for-help.md
  _content/rumors/how-is-the-national-guard-responding.md
  _content/rumors/is-dhs-deploying-the-national-guard.md
  _content/rumors/is-fema-deploying-the-military.md
  _content/rumors/is-fema-seizing-personal-protective-equipment.md
  _content/rumors/is-fema-suspending-rent-for-people-in-certain-states.md
  _content/rumors/is-the-government-sending-everyone-money.md
  _content/rumors/is-there-a-national-lockdown.md
  _content/rumors/on-medicare-and-someone-offered-me-a-test.md
  _content/rumors/should-i-stock-up-on-food-and-supplies.md
Labels: (00) content

#819 CDC Updates and Additions (and minor FEMA date changes)
  _content/basics/why-is-the-disease-called-covid-19.md
  _content/parents-and-children/are-children-at-risk.md
  _content/parents-and-children/are-symptoms-of-COVID-19-different-in-children.md
  _content/parents-and-children/how-can-i-protect-my-child-from-COVID-19.md
  _content/parents-and-children/how-do-i-prepare-my-child-for-an-outbreak.md
  _content/parents-and-children/should-children-wear-face-masks.md
  _content/parents-and-children/what-is-multisystem-inflammatory-syndrome-in-children.md
  _content/protect-yourself/does-cdc-recommend-facemasks.md
  _content/protect-yourself/how-can-I-help-protect-myself.md
  _content/protect-yourself/if-i-need-to-evacuate-my-home-during-the-covid19-pandemic.md
  _content/protect-yourself/is-it-safe-to-get-medical-care-for-other-conditions.md
  _content/protect-yourself/what-should-i-do-if-i-had-close-contact-with-someone-who-has-covid-19.md
  _content/rumors/is-there-a-national-lockdown.md
  _content/rumors/on-medicare-and-someone-offered-me-a-test.md
  _content/spread/can-the-virus-that-causes-covid-19-be-spread-through-food.md
  _content/spread/how-does-the-virus-spread.md
  _content/spread/what-is-community-spread.md
  _content/symptoms-and-testing/should-i-be-tested-for-covid-19.md
Labels: (00) content

#820 CDC Updates and Additions (and minor FEMA date changes)
  _content/basics/why-is-the-disease-called-covid-19.md
  _content/parents-and-children/are-children-at-risk.md
  _content/parents-and-children/are-symptoms-of-COVID-19-different-in-children.md
  _content/parents-and-children/how-can-i-protect-my-child-from-COVID-19.md
  _content/parents-and-children/how-do-i-prepare-my-child-for-an-outbreak.md
  _content/parents-and-children/should-children-wear-face-masks.md
  _content/parents-and-children/what-is-multisystem-inflammatory-syndrome-in-children.md
  _content/protect-yourself/does-cdc-recommend-facemasks.md
  _content/protect-yourself/how-can-I-help-protect-myself.md
  _content/protect-yourself/if-i-need-to-evacuate-my-home-during-the-covid19-pandemic.md
  _content/protect-yourself/is-it-safe-to-get-medical-care-for-other-conditions.md
  _content/protect-yourself/what-should-i-do-if-i-had-close-contact-with-someone-who-has-covid-19.md
  _content/rumors/is-there-a-national-lockdown.md
  _content/rumors/on-medicare-and-someone-offered-me-a-test.md
  _content/spread/can-the-virus-that-causes-covid-19-be-spread-through-food.md
  _content/spread/how-does-the-virus-spread.md
  _content/spread/what-is-community-spread.md
  _content/symptoms-and-testing/should-i-be-tested-for-covid-19.md
Labels: (00) content

#821 Treasury Additions and Updates
  _content/financial-help/what-do-I-do-if-I-lost-my-EPP-debit-card.md
  _content/financial-help/who-is-eligible-for-payment.md
  _content/financial-help/why-am-i-receiving-a-debit-card.md
  _content/food-safety/is-there-guidance-on-food-planning.md
Labels: (00) content

#824 Updated file path name
  _content/financial-help/what-do-I-do-if-I-lost-my-EIP-debit-card.md
Labels: (00) content

#823 Treasury Additions and Updates
  _content/financial-help/what-do-I-do-if-I-lost-my-EIP-debit-card.md
  _content/financial-help/who-is-eligible-for-payment.md
  _content/financial-help/why-am-i-receiving-a-debit-card.md
  _content/food-safety/is-there-guidance-on-food-planning.md
Labels: (00) content

#827 Added FDA "Are there any vaccines..." to Medications category
  _content/medications/are-there-any-vaccines-to-prevent-covid-19.md
Labels: (00) content

#830 Adding FDA vaccines FAQ
  _content/medications/are-there-any-vaccines-to-prevent-covid-19.md
Labels: (00) content

#832 Redirects from bad urls to new FDA FAQ
  _content/medications/are-there-any-vaccines-to-prevent-covid-19.md
Labels: (00) content

#833 Removed old redirect from deleted page and repointed it
  _content/basics/what-treatments-are-available.md
Labels: (00) content

#835 Redirect/correct redirects to new FDA vaccine FAQ
  _content/basics/what-treatments-are-available.md
  _content/medications/are-there-any-vaccines-to-prevent-covid-19.md
Labels: (00) content

#836 CDC Updates on Funeral, Animals & Stigma
  _content/animals/what-animals-can-get-covid-19.md
  _content/basics/how-can-people-help-stop-stigma-related-to-COVID-19.md
  _content/funerals/how-to-safely-handle-belongings-of-someone-died-from-covid-19.md
  _content/funerals/what-are-requirements-to-return-body-to-united-states.md
Labels: (00) content

#837 CDC Revisions, Additions and Updates
  _content/basics/how-does-cdc-covid19-case-numbers-compare-with-who.md
  _content/basics/states-covid19-cases-numbers-differ-from-CDC-website.md
  _content/basics/what-does-the-mortality-rate-mean.md
  _content/basics/why-are-the-death-counts-different-from-provisional-counts.md
  _content/basics/why-do-case-numbers-from-previous-day-increase.md
  _content/basics/why-do-some-numbers-differ-from-the-cdc-numbers.md
Labels: (00) content

#838 Update what-are-the-symptoms-and-complications-that-covid-19-can-caus…
  _content/symptoms-and-testing/what-are-the-symptoms-and-complications-that-covid-19-can-cause.md
Labels: (00) content

#844 Content updates and several security patches
  _content/animals/what-animals-can-get-covid-19.md
  _content/basics/how-can-people-help-stop-stigma-related-to-COVID-19.md
  _content/basics/how-does-cdc-covid19-case-numbers-compare-with-who.md
  _content/basics/states-covid19-cases-numbers-differ-from-CDC-website.md
  _content/basics/what-does-the-mortality-rate-mean.md
  _content/basics/why-are-the-death-counts-different-from-provisional-counts.md
  _content/basics/why-do-case-numbers-from-previous-day-increase.md
  _content/basics/why-do-some-numbers-differ-from-the-cdc-numbers.md
  _content/funerals/how-to-safely-handle-belongings-of-someone-died-from-covid-19.md
  _content/funerals/what-are-requirements-to-return-body-to-united-states.md
  _content/symptoms-and-testing/what-are-the-symptoms-and-complications-that-covid-19-can-cause.md
  _data/homepage_promotion.yml
  package-lock.json
  package.json
Labels: (00) content, (10) dependencies

#847 CDC Deletions and Redirects
  _content/basics/what-is-a-novel-coronavirus.md
  _content/basics/why-do-some-numbers-differ-from-the-cdc-numbers.md
  _content/spread/can-someone-who-has-been-quarantined-for-COVID-19-spread-the-illness-to-others.md
  _content/spread/can-someone-who-has-had-covid-19-spread-the-illness-to-others.md
  _content/spread/what-is-the-source-of-the-virus.md
  _content/spread/what-temperature-kills-the-virus.md
  _content/spread/why-are-we-seeing-a-rise-in-cases.md
  _content/spread/will-warm-weather-stop-the-outbreak-of-COVID-19.md
Labels: (00) content

#848 CDC Delete 4 questions and add redirects
  _content/basics/what-is-a-novel-coronavirus.md
  _content/basics/why-do-some-numbers-differ-from-the-cdc-numbers.md
  _content/spread/can-someone-who-has-been-quarantined-for-COVID-19-spread-the-illness-to-others.md
  _content/spread/can-someone-who-has-had-covid-19-spread-the-illness-to-others.md
  _content/spread/what-is-the-source-of-the-virus.md
  _content/spread/what-temperature-kills-the-virus.md
  _content/spread/why-are-we-seeing-a-rise-in-cases.md
  _content/spread/will-warm-weather-stop-the-outbreak-of-COVID-19.md
Labels: (00) content

#851 CDC Revisions, Deletions and Additions
  _content/community-events/do-i-need-to-cancel-if-there-are-confirmed-covid19-cases.md
  _content/keeping-home-safe/how-can-family-prepare.md
  _content/keeping-home-safe/how-can-i-prepare-for-an-outbreak.md
  _content/keeping-home-safe/if-someone-in-my-house-gets-sick.md
  _content/protect-yourself/am-i-at-risk-for-COVID-19-in-the-United-States.md
  _content/protect-yourself/can-cdc-tell-me-when-it-is-safe-to-go-back.md
  _content/protect-yourself/does-cdc-recommend-facemasks.md
  _content/protect-yourself/how-can-I-help-protect-myself.md
  _content/protect-yourself/how-can-i-prepare-for-COVID19-at-work.md
  _content/protect-yourself/how-long-do-companies-need-to-close-for-disinfection-after-an-exposure.md
  _content/protect-yourself/should-i-go-to-work-if-there-is-an-outbreak-in-my-community.md
  _content/protect-yourself/six-feet-away-cloth-face-covering.md
  _content/protect-yourself/what-type-of-cloth-face-covering.md
  _content/protect-yourself/when-cloth-face-coverings.md
  _content/protect-yourself/who-should-not-wear-cloth-face-coverings.md
  _content/protect-yourself/why-cloth-face-coverings-instead-of-facemasks.md
  _content/spread/if-i-have-recovered-will-i-be-immune.md
  _data/homepage_promotion.yml
  index.html
Labels: (00) content

#853 Removed word "have" to fix line wrapping
  _data/homepage_promotion.yml
Labels: (00) content

#856 Delete errant face covering post
  _content/protect-yourself/why-cloth-face-coverings.md
Labels: (00) content

#857 Deleted face coverings post
  _content/protect-yourself/why-cloth-face-coverings.md
Labels: (00) content
