Repository 18F/cv_faq, pull requests merged in 2020-11, with the labels that each got.

#1167 Release 11/2/2020 - dependencies and new CDC content
  .circleci/config.yml
  _categories/older-people-special-precautions.md
  _categories/protect-yourself.md
  _categories/symptoms-and-testing.md
  _content/older-people-special-precautions/seasonal-allergies-increased-risk.md
  _content/protect-yourself/mask-provide-seasonal-allergy-protection.md
  _content/protect-yourself/protect-myself-seasonal-allergies.md
  _content/symptoms-and-testing/covid-19-seasonal-allergies.md
  package-lock.json
  package.json
Labels: (00) content, (10) dependencies

#1172 Minor category renaming
  _categories/cleaning-disinfecting-sanitizing.md
  _categories/underlying-conditions.md
  _data/homepage_order.yml
  _data/homepage_promotion.yml
Labels: (00) content

#1173 2 Category name changes and dependency updates
  _categories/cleaning-disinfecting-sanitizing.md
  _categories/underlying-conditions.md
  _data/homepage_order.yml
  _data/homepage_promotion.yml
  package-lock.json
  package.json
Labels: (00) content

#1181 Updated process flow diagram
  _assets/uploads/faq-content-service-desk-process-v3.png
Labels: (00) content

#1182 Fixing update date on image
  _assets/uploads/faq-content-service-desk-process-v3.png
Labels: (00) content

#1188 Update search-suggestion-raw with 232 new terms
  suggestions-raw.json
Labels: (00) content

#1192 Dependencies and search suggestions raw file updated
  package-lock.json
  package.json
  suggestions-counts.json
  suggestions-raw.json
  suggestions.json
Labels: (10) dependencies, (20) Improve search

#1203 CDC Travel FAQ Changes
  _categories/travel.md
  _content/is-it-safe-to-travel-to-campgrounds-or-go-camping.md
  _content/return-to-work-international-travel.md
  _content/should-i-avoid-traveling-internationally.md
  _content/should-i-cancel-my-international-travel.md
  _content/what-can-i-expect-when-arriving-to-the-united-states.md
  _content/what-is-the-risk-of-getting-covid-19-on-an-airplane.md
Labels: (00) content

#1204 Updated CDC Holidays FAQ
  _content/holidays.md
Labels: (00) content

#1205 Holiday and travel-related CDC FAQs + dependencies, search.gov CTR changes
  _categories/travel.md
  _content/holidays.md
  _content/is-it-safe-to-travel-to-campgrounds-or-go-camping.md
  _content/return-to-work-international-travel.md
  _content/should-i-avoid-traveling-internationally.md
  _content/should-i-cancel-my-international-travel.md
  _content/what-can-i-expect-when-arriving-to-the-united-states.md
  _content/what-is-the-risk-of-getting-covid-19-on-an-airplane.md
  package-lock.json
  package.json
  scripts/components/click-tracking.js
  scripts/components/index.js
  scripts/components/search-results.js
  scripts/services/search/click-tracking.js
  scripts/services/search/constants.js
  scripts/services/search/index.js
Labels: (00) content, (00) engineering, (10) dependencies, (20) Improve search

#1214 CDC and FDA Updates
  _categories/treatments-vaccines-immunity.md
  _content/are-there-any-vaccines-to-prevent-covid-19.md
  _content/does-remdesivir-benefit-patients-with-covid-19.md
  _content/flu-covid-same-time.md
  _content/remdesivir-fda-approved.md
Labels: (00) content

#1215 FDA remdesivir and related FAQs
  Rakefile
  _categories/treatments-vaccines-immunity.md
  _content/are-there-any-vaccines-to-prevent-covid-19.md
  _content/does-remdesivir-benefit-patients-with-covid-19.md
  _content/flu-covid-same-time.md
  _content/remdesivir-fda-approved.md
  package-lock.json
  package.json
Labels: (00) content, (10) dependencies
