Repository 18F/cv_faq, pull requests merged in 2020-10, with the labels that each got.

#1105 Added re-directs for seach console errors
  _content/food-drug-safety/are-food-products-a-risk-for-spread.md
  _content/food-drug-safety/is-the-food-supply-safe.md
  _content/food-drug-safety/will-there-be-food-shortages.md
  _content/older-people-special-precautions/who-is-at-higher-risk-for-serious-illness-from-covid-19.md
  _content/support-for-business/what-capital-assistance-is-available-to-small-business-owners.md
Labels: (00) content

#1106 Fix search console errors - 20201001
  _content/food-drug-safety/are-food-products-a-risk-for-spread.md
  _content/food-drug-safety/is-the-food-supply-safe.md
  _content/food-drug-safety/will-there-be-food-shortages.md
  _content/older-people-special-precautions/who-is-at-higher-risk-for-serious-illness-from-covid-19.md
  _content/support-for-business/what-capital-assistance-is-available-to-small-business-owners.md
Labels: (00) content

#1107 New and updated CDC FAQs
  _categories/covid-19-facts.md
  _categories/disinfecting-sanitizing.md
  _categories/pets-animals.md
  _categories/protect-yourself.md
  _categories/spread-transmission.md
  _categories/travel.md
  _content/covid-19-facts/flu-covid-same-time.md
  _content/disinfecting-sanitizing/if-someone-in-my-house-gets-sick.md
  _content/disinfecting-sanitizing/uv-light-disinfect-covid.md
  _content/pets-animals/pets-assisted-living.md
  _content/protect-yourself/isolation-vs-quarantine.md
  _content/protect-yourself/lycra-to-make-masks.md
  _content/protect-yourself/masks-in-water.md
  _content/spread-transmission/spread-lakes-rivers.md
  _content/spread-transmission/spread-saltwater-pools.md
  _content/spread-transmission/what-community-mitigation.md
  _content/travel/is-it-safe-to-visit-family-friends.md
  _content/travel/travel-guidance.md
Labels: (00) content

#1108 CDC Updates 2020-10-01
  _categories/covid-19-facts.md
  _categories/disinfecting-sanitizing.md
  _categories/pets-animals.md
  _categories/protect-yourself.md
  _categories/spread-transmission.md
  _categories/travel.md
  _content/covid-19-facts/flu-covid-same-time.md
  _content/disinfecting-sanitizing/if-someone-in-my-house-gets-sick.md
  _content/disinfecting-sanitizing/uv-light-disinfect-covid.md
  _content/pets-animals/pets-assisted-living.md
  _content/protect-yourself/isolation-vs-quarantine.md
  _content/protect-yourself/lycra-to-make-masks.md
  _content/protect-yourself/masks-in-water.md
  _content/spread-transmission/spread-lakes-rivers.md
  _content/spread-transmission/spread-saltwater-pools.md
  _content/spread-transmission/what-community-mitigation.md
  _content/travel/is-it-safe-to-visit-family-friends.md
  _content/travel/travel-guidance.md
Labels: (00) content

#1112 Update redirects
  _categories/disinfecting-sanitizing.md
  _content/spread-transmission/handle-body-someone-who-died.md
  _content/travel/can-american-citizen-return-to-us.md
Labels: (00) content

#1113 Search console errors
  _categories/caring-for-children.md
  _categories/pets-animals.md
  _content/spread-transmission/can-the-covid-19-virus-spread-through-pools-and-hot-tubs.md
Labels: (00) content

#1117 Update to remove parens redirect
  _content/spread-transmission/can-the-covid-19-virus-spread-through-pools-and-hot-tubs.md
Labels: (00) content, (00) engineering

#1116 404 Fixes and Dependency updates 20201006
  _categories/caring-for-children.md
  _categories/disinfecting-sanitizing.md
  _categories/pets-animals.md
  _content/spread-transmission/handle-body-someone-who-died.md
  _content/travel/can-american-citizen-return-to-us.md
  package-lock.json
  package.json
Labels: (00) content, (00) engineering

#1118 CDC Holidays
  _categories/activities-events-gatherings.md
  _content/activities-events-gatherings/holidays.md
  _content/spread-transmission/how-does-the-virus-spread.md
Labels: (00) content

#1121 Changed date
  _content/activities-events-gatherings/holidays.md
Labels: (00) content

#1122 content updates and test coverage enhancement
  _categories/activities-events-gatherings.md
  _categories/disinfecting-sanitizing.md
  _content/activities-events-gatherings/am-i-at-risk-funeral.md
  _content/activities-events-gatherings/can-i-schedule-burial-national-cemetery.md
  _content/activities-events-gatherings/holidays.md
  _content/spread-transmission/how-does-the-virus-spread.md
  test/content.test.js
Labels: (00) content, (00) engineering

#1125 CDC Updates
  _content/protect-yourself/how-do-i-prepare-for-hurricane-season-during-covid19.md
  _content/symptoms-and-testing/kind-of-test-used-to-diagnose-covid19.md
  _content/travel/what-is-the-risk-of-getting-covid-19-on-an-airplane.md
Labels: (00) content

#1129 CDC content and dependencies
  _content/protect-yourself/how-do-i-prepare-for-hurricane-season-during-covid19.md
  _content/symptoms-and-testing/kind-of-test-used-to-diagnose-covid19.md
  _content/travel/what-is-the-risk-of-getting-covid-19-on-an-airplane.md
  package-lock.json
  package.json
Labels: (00) content, (00) engineering

#1135 Adding CDC car seat disinfection question
  _categories/caring-for-children.md
  _categories/disinfecting-sanitizing.md
  _categories/spread-transmission.md
  _content/disinfecting-sanitizing/cleaning-disinfecting-car-seats-booster-seats.md
Labels: (00) content

#1136 Dependency upgrades and CDC child seat FAQ addition
  _categories/caring-for-children.md
  _categories/disinfecting-sanitizing.md
  _categories/spread-transmission.md
  _content/disinfecting-sanitizing/cleaning-disinfecting-car-seats-booster-seats.md
  package-lock.json
  package.json
Labels: (00) content, (10) dependencies

#1137 2020-10-15 CDC updates and deletions
  _categories/symptoms-and-testing.md
  _categories/workplace-safety.md
  _content/covid-19-facts/what-is-a-novel-coronavirus.md
  _content/financial-help/how-do-i-know-if-i-am-an-essential-worker.md
  _content/food-drug-safety/are-antibiotics-effective.md
  _content/food-drug-safety/are-chloroquine-phosphate-hydroxychloroquine-effective.md
  _content/food-drug-safety/are-food-products-a-risk-for-spread.md
  _content/food-drug-safety/is-the-food-supply-safe.md
  _content/food-drug-safety/should-i-take-aquarium-chloroquine-phosphate.md
  _content/food-drug-safety/should-i-take-ivermectin.md
  _content/food-drug-safety/will-miracle-mineral-solution-cure-covid-19.md
  _content/older-people-special-precautions/risk-for-complications-from-covid-19-if-i-smoke-cigarettes.md
  _content/older-people-special-precautions/risk-for-complications-from-covid-19-if-i-vape-tobacco-or-nicotine.md
  _content/pets-animals/are-there-any-approved-products-to-prevent-covid-19-in-animals.md
  _content/pets-animals/are-there-going-to-be-animal-drug-shortages.md
  _content/pets-animals/if-my-pet-had-species-specific-coronavirus-are-they-more-likely-to-get-covid-19.md
  _content/pets-animals/if-my-pet-has-been-vaccinated-for-species-specific-cornavirus.md
  _content/pets-animals/is-it-true-animals-get-their-own-types-of-virus.md
  _content/pets-animals/is-the-animal-food-supply-safe.md
  _content/pets-animals/my-pet-has-health-problems.md
  _content/pets-animals/will-there-be-animal-food-shortages.md
  _content/protect-yourself/can-disinfectant-sprays-or-wipes-be-used-on-my-skin.md
  _content/protect-yourself/how-to-keep-myself-safe-when-i-go-grocery-store.md
  _content/spread-transmission/can-i-get-covid-19-from-a-food-worker.md
  _content/spread-transmission/can-the-virus-be-transmitted-by-blood-transfusion.md
  _content/spread-transmission/should-ill-food-workers-stay-home.md
  _content/symptoms-and-testing/if-antibody-tests-not-used-for-diagnosis.md
  _content/symptoms-and-testing/when-will-other-tests-be-authorized.md
  _content/symptoms-and-testing/why-arent-blood-centers-testing.md
  _content/treatments-vaccines-immunity/i-built-a-diy-ventilator-may-i-sell-it.md
Labels: (00) content

#1138 CDC updates
  _categories/symptoms-and-testing.md
  _categories/workplace-safety.md
  _content/covid-19-facts/what-is-a-novel-coronavirus.md
  _content/financial-help/how-do-i-know-if-i-am-an-essential-worker.md
  _content/food-drug-safety/are-antibiotics-effective.md
  _content/food-drug-safety/are-chloroquine-phosphate-hydroxychloroquine-effective.md
  _content/food-drug-safety/are-food-products-a-risk-for-spread.md
  _content/food-drug-safety/is-the-food-supply-safe.md
  _content/food-drug-safety/should-i-take-aquarium-chloroquine-phosphate.md
  _content/food-drug-safety/should-i-take-ivermectin.md
  _content/food-drug-safety/will-miracle-mineral-solution-cure-covid-19.md
  _content/older-people-special-precautions/risk-for-complications-from-covid-19-if-i-smoke-cigarettes.md
  _content/older-people-special-precautions/risk-for-complications-from-covid-19-if-i-vape-tobacco-or-nicotine.md
  _content/pets-animals/are-there-any-approved-products-to-prevent-covid-19-in-animals.md
  _content/pets-animals/are-there-going-to-be-animal-drug-shortages.md
  _content/pets-animals/if-my-pet-had-species-specific-coronavirus-are-they-more-likely-to-get-covid-19.md
  _content/pets-animals/if-my-pet-has-been-vaccinated-for-species-specific-cornavirus.md
  _content/pets-animals/is-it-true-animals-get-their-own-types-of-virus.md
  _content/pets-animals/is-the-animal-food-supply-safe.md
  _content/pets-animals/my-pet-has-health-problems.md
  _content/pets-animals/will-there-be-animal-food-shortages.md
  _content/protect-yourself/can-disinfectant-sprays-or-wipes-be-used-on-my-skin.md
  _content/protect-yourself/how-to-keep-myself-safe-when-i-go-grocery-store.md
  _content/spread-transmission/can-i-get-covid-19-from-a-food-worker.md
  _content/spread-transmission/can-the-virus-be-transmitted-by-blood-transfusion.md
  _content/spread-transmission/should-ill-food-workers-stay-home.md
  _content/symptoms-and-testing/if-antibody-tests-not-used-for-diagnosis.md
  _content/symptoms-and-testing/when-will-other-tests-be-authorized.md
  _content/symptoms-and-testing/why-arent-blood-centers-testing.md
  _content/treatments-vaccines-immunity/i-built-a-diy-ventilator-may-i-sell-it.md
Labels: (00) content

#1139 FDA Updates, Addition and Deletion
  _categories/food-drug-safety.md
  _content/covid-19-facts/what-treatments-are-available.md
  _content/food-drug-safety/am-i-at-risk-from-taking-fda-approved-drugs-made-in-china.md
  _content/food-drug-safety/are-there-any-vaccines-to-prevent-covid-19.md
  _content/food-drug-safety/are-there-going-to-be-drug-shortages.md
  _content/food-drug-safety/can-i-get-coronavirus-from-food.md
  _content/food-drug-safety/does-remdesivir-benefit-patients-with-covid-19.md
  _content/food-drug-safety/risk-fda-approved-outside-us.md
  _content/food-drug-safety/what-is-fda-doing-to-protect-people-from-fraud.md
  _content/food-drug-safety/will-there-be-food-shortages.md
  _content/protect-yourself/what-to-do-if-exposed-to-contaminated-hand-sanitizer.md
  _content/spread-transmission/can-i-donate-convalescent-plasma.md
  _content/symptoms-and-testing/are-there-home-tests.md
  _content/symptoms-and-testing/how-are-people-tested.md
  _content/treatments-vaccines-immunity/products-online-claim-to-prevent-or-treat.md
Labels: (00) content

#1142 FDA updates and dependencies
  _categories/food-drug-safety.md
  _content/covid-19-facts/what-treatments-are-available.md
  _content/food-drug-safety/am-i-at-risk-from-taking-fda-approved-drugs-made-in-china.md
  _content/food-drug-safety/are-there-any-vaccines-to-prevent-covid-19.md
  _content/food-drug-safety/are-there-going-to-be-drug-shortages.md
  _content/food-drug-safety/can-i-get-coronavirus-from-food.md
  _content/food-drug-safety/does-remdesivir-benefit-patients-with-covid-19.md
  _content/food-drug-safety/risk-fda-approved-outside-us.md
  _content/food-drug-safety/what-is-fda-doing-to-protect-people-from-fraud.md
  _content/food-drug-safety/will-there-be-food-shortages.md
  _content/protect-yourself/what-to-do-if-exposed-to-contaminated-hand-sanitizer.md
  _content/spread-transmission/can-i-donate-convalescent-plasma.md
  _content/symptoms-and-testing/are-there-home-tests.md
  _content/symptoms-and-testing/how-are-people-tested.md
  _content/treatments-vaccines-immunity/products-online-claim-to-prevent-or-treat.md
  package-lock.json
  package.json
Labels: (00) content

#1147 FDA Approved Drugs
  _categories/treatments-vaccines-immunity.md
  _content/food-drug-safety/are-there-any-approved-medicines.md
  _content/food-drug-safety/are-there-any-vaccines-to-prevent-covid-19.md
Labels: (00) content

#1148 FDA Updates
  _categories/treatments-vaccines-immunity.md
  _content/food-drug-safety/are-there-any-approved-medicines.md
  _content/food-drug-safety/are-there-any-vaccines-to-prevent-covid-19.md
Labels: (00) content

#1159 CDC New FAQs and Updates
  _categories/treatments-vaccines-immunity.md
  _content/protect-yourself/around-someone-who-is-close-contact.md
  _content/protect-yourself/close-contact-if-wearing-mask.md
  _content/protect-yourself/personal-info-contact-tracing.md
  _content/protect-yourself/who-is-close-contact.md
  _content/symptoms-and-testing/close-contact-will-i-be-tested.md
  _content/treatments-vaccines-immunity/enough-vaccine.md
  _content/treatments-vaccines-immunity/get-vaccine-first.md
  _content/treatments-vaccines-immunity/need-vaccine-if-had-covid.md
  _content/treatments-vaccines-immunity/operation-warp-speed.md
  _content/treatments-vaccines-immunity/vaccine-costs.md
  _content/treatments-vaccines-immunity/vaccine-development.md
  _content/treatments-vaccines-immunity/why-vaccine.md
Labels: (00) content

#1160 CDC content additions and updates + dependency upgrades
  _categories/treatments-vaccines-immunity.md
  _content/protect-yourself/around-someone-who-is-close-contact.md
  _content/protect-yourself/close-contact-if-wearing-mask.md
  _content/protect-yourself/personal-info-contact-tracing.md
  _content/protect-yourself/who-is-close-contact.md
  _content/symptoms-and-testing/close-contact-will-i-be-tested.md
  _content/treatments-vaccines-immunity/enough-vaccine.md
  _content/treatments-vaccines-immunity/get-vaccine-first.md
  _content/treatments-vaccines-immunity/need-vaccine-if-had-covid.md
  _content/treatments-vaccines-immunity/operation-warp-speed.md
  _content/treatments-vaccines-immunity/vaccine-costs.md
  _content/treatments-vaccines-immunity/vaccine-development.md
  _content/treatments-vaccines-immunity/why-vaccine.md
  package-lock.json
  package.json
  postcss.config.js
Labels: (00) content, (10) dependencies

#1164 CDC Seasonal Allergies
  _categories/older-people-special-precautions.md
  _categories/protect-yourself.md
  _categories/symptoms-and-testing.md
  _content/older-people-special-precautions/seasonal-allergies-increased-risk.md
  _content/protect-yourself/mask-provide-seasonal-allergy-protection.md
  _content/protect-yourself/protect-myself-seasonal-allergies.md
  _content/symptoms-and-testing/covid-19-seasonal-allergies.md
Labels: (00) content
