Repository 18F/cv_faq, pull requests merged in 2021-01, with the labels that each got.

#1288 2021-01-06 Homepage changes
  _categories/treatments-immunity.md
  _categories/vaccines.md
  _content/why-might-someone-create-stigma.md
  _data/homepage_order.yml
  _data/homepage_promotion.yml
Labels: (00) content

#1289 Category redirect, delete deprecated category
  _categories/treatments-immunity.md
  _categories/treatments-vaccines-immunity.md
Labels: (00) content

#1290 Dependencies, home page updates, related redirects
  _categories/treatments-immunity.md
  _categories/vaccines.md
  _content/why-might-someone-create-stigma.md
  _data/homepage_order.yml
  _data/homepage_promotion.yml
  package-lock.json
  package.json
Labels: (00) content, (10) dependencies

#1286 Swap uglify for terser
  package-lock.json
  package.json
  webpack.config.js
Labels: (10) dependencies

#1294 Dependency updates
  package-lock.json
  package.json
  webpack.config.js
Labels: (00) engineering, (10) dependencies

#1297 Dependency Deploy 2020-01-11
  package-lock.json
  package.json
Labels: (00) engineering, (10) dependencies

#1300 CDC Updates
  _categories/pets-animals.md
  _content/are-pets-from-a-shelter-safe.md
  _content/are-there-any-medications-i-should-avoid.md
  _content/can-a-person-test-negative-and-later-test-positive-for-covid-19.md
  _content/can-animals-carry-the-virus.md
  _content/can-bats-in-us-get-covid19-and-spread-it-to-people.md
  _content/can-i-get-covid-19-from-my-pets.md
  _content/can-i-travel-to-the-us-with-dogs.md
  _content/can-i-walk-my-dog.md
  _content/can-mosquitoes-spread-covid19.md
  _content/can-sanitizing-tunnels-be-used-to-prevent-spread.md
  _content/can-someone-who-has-had-covid-19-spread-the-illness-to-others.md
  _content/can-the-covid-19-virus-spread-through-sewerage-systems.md
  _content/can-the-virus-that-causes-covid-19-be-spread-through-food.md
  _content/close-contact-if-wearing-mask.md
  _content/do-face-shields-protect-from-covid-19.md
  _content/get-vaccine-first.md
  _content/limit-time-older-adults.md
  _content/lycra-to-make-masks.md
  _content/masks-in-water.md
  _content/need-vaccine-if-had-covid.md
  _content/uv-light-disinfect-covid.md
Labels: (00) content

#1301 CDC content updates
  _categories/pets-animals.md
  _content/are-pets-from-a-shelter-safe.md
  _content/are-there-any-medications-i-should-avoid.md
  _content/can-a-person-test-negative-and-later-test-positive-for-covid-19.md
  _content/can-animals-carry-the-virus.md
  _content/can-bats-in-us-get-covid19-and-spread-it-to-people.md
  _content/can-i-get-covid-19-from-my-pets.md
  _content/can-i-travel-to-the-us-with-dogs.md
  _content/can-i-walk-my-dog.md
  _content/can-mosquitoes-spread-covid19.md
  _content/can-sanitizing-tunnels-be-used-to-prevent-spread.md
  _content/can-someone-who-has-had-covid-19-spread-the-illness-to-others.md
  _content/can-the-covid-19-virus-spread-through-sewerage-systems.md
  _content/can-the-virus-that-causes-covid-19-be-spread-through-food.md
  _content/close-contact-if-wearing-mask.md
  _content/do-face-shields-protect-from-covid-19.md
  _content/get-vaccine-first.md
  _content/limit-time-older-adults.md
  _content/lycra-to-make-masks.md
  _content/masks-in-water.md
  _content/need-vaccine-if-had-covid.md
  _content/uv-light-disinfect-covid.md
Labels: (00) content

#1308 Treasury irs 20210118
  _categories/financial-help.md
  _categories/food-housing-education-assistance.md
  _content/economic-impact-payment.md
  _content/eip-tax-records.md
  _content/get-my-payment.md
  _content/how-can-i-check-the-status-of-my-economic-impact-payment.md
  _content/how-do-i-submit-banking-information.md
  _content/how-will-the-irs-know-where-to-send.md
  _content/i-am-a-veteran-do-i-need-to-provide-information-to-irs.md
  _content/i-am-getting-calls-from-people-claiming-they-are-from-the-government.md
  _content/i-am-not-typically-required-to-file-a-tax-return.md
  _content/i-need-to-file-a-tax-return.md
  _content/i-no-longer-have-a-bank-account-i-used-for-tax-return.md
  _content/i-recently-filed-what-do-i-need-to-do-to-get-payment.md
  _content/if-i-receive-social-security-benefits.md
  _content/is-the-irs-sending-prepaid-debit-cards.md
  _content/missed-tax-day.md
  _content/more-people-eligible-eip.md
  _content/non-filers-eip-eligibility.md
  _content/paper-check-debit-card.md
  _content/recovery-rebate-credit.md
  _content/what-do-i-do-if-a-payment-was-sent-to-someone-who-died.md
  _content/what-do-i-do-if-i-lost-my-eip-debit-card.md
  _content/what-do-i-do-if-someone-calls-texts-claiming-to-be-irs.md
  _content/what-does-it-mean-get-my-payment-please-try-again.md
  _content/what-should-i-do-if-i-receive-calls-claiming-to-be-from-the-treasury-department.md
  _content/where-can-i-go-for-more-information.md
  _content/who-is-eligible-for-payment.md
  _content/will-government-provide-second-round-economic-impact-payments.md
  _content/will-the-irs-call-or-email-me.md
  _data/homepage_promotion.yml
Labels: (00) content

#1309 IRS content updates/deletions/redirects
  _categories/financial-help.md
  _categories/food-housing-education-assistance.md
  _content/economic-impact-payment.md
  _content/eip-tax-records.md
  _content/get-my-payment.md
  _content/how-can-i-check-the-status-of-my-economic-impact-payment.md
  _content/how-do-i-submit-banking-information.md
  _content/how-will-the-irs-know-where-to-send.md
  _content/i-am-a-veteran-do-i-need-to-provide-information-to-irs.md
  _content/i-am-getting-calls-from-people-claiming-they-are-from-the-government.md
  _content/i-am-not-typically-required-to-file-a-tax-return.md
  _content/i-need-to-file-a-tax-return.md
  _content/i-no-longer-have-a-bank-account-i-used-for-tax-return.md
  _content/i-recently-filed-what-do-i-need-to-do-to-get-payment.md
  _content/if-i-receive-social-security-benefits.md
  _content/is-the-irs-sending-prepaid-debit-cards.md
  _content/missed-tax-day.md
  _content/more-people-eligible-eip.md
  _content/non-filers-eip-eligibility.md
  _content/paper-check-debit-card.md
  _content/recovery-rebate-credit.md
  _content/what-do-i-do-if-a-payment-was-sent-to-someone-who-died.md
  _content/what-do-i-do-if-i-lost-my-eip-debit-card.md
  _content/what-do-i-do-if-someone-calls-texts-claiming-to-be-irs.md
  _content/what-does-it-mean-get-my-payment-please-try-again.md
  _content/what-should-i-do-if-i-receive-calls-claiming-to-be-from-the-treasury-department.md
  _content/where-can-i-go-for-more-information.md
  _content/who-is-eligible-for-payment.md
  _content/will-government-provide-second-round-economic-impact-payments.md
  _content/will-the-irs-call-or-email-me.md
  _data/homepage_promotion.yml
Labels: (00) content

#1313 Feature/transition updates 001 20210119
  _includes/footer.html
  _includes/gov-banner.html
  _includes/usa-header.html
  _layouts/default.html
  styles/_header.scss
Labels: (05) stakeholder request, (05) urgent

#1317 Update social sharing image
  _assets/images/social-media-preview.png
Labels: (05) stakeholder request, (05) urgent

#1318 Site updates to header/footer/social share + dependencies
  _assets/images/social-media-preview.png
  _includes/footer.html
  _includes/gov-banner.html
  _includes/usa-header.html
  _layouts/default.html
  package-lock.json
  package.json
  styles/_header.scss
Labels: (00) content, (05) stakeholder request, (05) urgent, (10) dependencies

#1321 Resized to optimized social sharing dimensions
  _assets/images/social-media-preview.png
  _includes/meta.html
Labels: (05) stakeholder request, (05) urgent

#1322 Updated 7 FAQs
  _content/can-parents-pick-up-meals-for-their-kids-without-them-present.md
  _content/do-i-need-to-cancel-if-there-are-confirmed-covid19-cases.md
  _content/how-is-the-national-guard-responding.md
  _content/should-i-travel-within-the-us.md
  _content/small-medium-businesses-paid-leave.md
  _content/what-action-is-being-taken-to-ensure-children-have-food-while-schools-are-closed.md
  _content/what-happens-to-snap-recipients-who-cannot-meet-work-requirements-due-to-covid19.md
Labels: (00) content

#1323 Minor changes
  _content/can-parents-pick-up-meals-for-their-kids-without-them-present.md
  _content/how-is-the-national-guard-responding.md
  _content/what-action-is-being-taken-to-ensure-children-have-food-while-schools-are-closed.md
Labels: (00) content

#1325 Revisions
  _content/ads-for-covid-treatments-and-cures.md
  _content/are-undocumented-immigrants-still-being-held.md
  _content/can-parents-pick-up-meals-for-their-kids-without-them-present.md
  _content/close-contact-if-wearing-mask.md
  _content/do-i-need-to-cancel-if-there-are-confirmed-covid19-cases.md
  _content/how-can-pregnant-women-protect-themselves-from-getting-covid-19.md
  _content/how-is-the-national-guard-responding.md
  _content/should-i-travel-within-the-us.md
  _content/should-i-trust-ads-for-products-to-prevent-treat-cure-covid-19.md
  _content/small-medium-businesses-paid-leave.md
  _content/vaccine-development.md
  _content/what-action-is-being-taken-to-ensure-children-have-food-while-schools-are-closed.md
  _content/what-happens-to-snap-recipients-who-cannot-meet-work-requirements-due-to-covid19.md
  _content/will-real-id-implementation-be-delayed.md
Labels: (00) content

#1319 Footer disclaimer left alignment
  styles/_footer.scss
Labels: (10) Do not merge

#1334 Delete and redirect
  _categories/treatments-immunity.md
  _categories/vaccines.md
  _content/operation-warp-speed.md
  _content/vaccine-development.md
Labels: (00) content

#1335 Remove OWS references on category pages, redirect FAQ to vaccine development
  _categories/treatments-immunity.md
  _categories/vaccines.md
  _content/operation-warp-speed.md
  _content/vaccine-development.md
Labels: (00) content
