Repository 18F/cv_faq, pull requests merged in 2021-02, with the labels that each got.

#1346 Treasury/IRS and SBA Updates
  _agencies/irs.md
  _content/employee-retention-credit.md
  _content/how-to-apply-for-a-small-business-loan.md
  _content/how-to-apply-for-benefits.md
  _content/paycheck-protection-loan-forgiveness.md
  _content/small-medium-businesses-paid-leave.md
  _content/what-do-i-do-if-i-cant-pay-rent.md
Labels: (00) content

#1348 CDC: New and Updated FAQs
  _categories/protect-yourself.md
  _categories/vaccines.md
  _content/bad-vaccine-reaction.md
  _content/get-vaccine.md
  _content/how-does-the-virus-spread.md
  _content/immunity-vaccine.md
  _content/number-vaccine-shots.md
  _content/stop-mask-after-vaccine.md
Labels: (00) content

#1349 CDC-Deletions and Redirects
  _categories/activities-events-gatherings.md
  _categories/pets-animals.md
  _categories/spread-transmission.md
  _content/can-the-covid-19-virus-spread-through-drinking-water.md
  _content/can-the-covid-19-virus-spread-through-pools-and-hot-tubs.md
  _content/can-wild-animals-spread-covid19-to-people-and-pets.md
  _content/covid-19-spread-floodwater.md
  _content/how-does-the-virus-spread.md
  _content/is-it-safe-to-visit-family-friends.md
  _content/should-i-travel-within-the-us.md
  _content/spread-lakes-rivers.md
  _content/spread-saltwater-pools.md
Labels: (00) content

#1347 Treasury, IRS, SBA, CDC and dependencies 2021-02-04
  _agencies/irs.md
  _categories/activities-events-gatherings.md
  _categories/pets-animals.md
  _categories/protect-yourself.md
  _categories/spread-transmission.md
  _categories/vaccines.md
  _content/bad-vaccine-reaction.md
  _content/can-the-covid-19-virus-spread-through-drinking-water.md
  _content/can-the-covid-19-virus-spread-through-pools-and-hot-tubs.md
  _content/can-wild-animals-spread-covid19-to-people-and-pets.md
  _content/covid-19-spread-floodwater.md
  _content/employee-retention-credit.md
  _content/get-vaccine.md
  _content/how-does-the-virus-spread.md
  _content/how-to-apply-for-a-small-business-loan.md
  _content/how-to-apply-for-benefits.md
  _content/immunity-vaccine.md
  _content/is-it-safe-to-visit-family-friends.md
  _content/number-vaccine-shots.md
  _content/paycheck-protection-loan-forgiveness.md
  _content/should-i-travel-within-the-us.md
  _content/small-medium-businesses-paid-leave.md
  _content/spread-lakes-rivers.md
  _content/spread-saltwater-pools.md
  _content/stop-mask-after-vaccine.md
  _content/what-do-i-do-if-i-cant-pay-rent.md
  package-lock.json
  package.json
Labels: (00) content, (00) engineering

#1377 Minor content change
  _content/how-can-i-protect-myself.md
Labels: (00) content

#1378 Dependencies, USWDS 2.10.1 update, and minor content edit
  _content/how-can-i-protect-myself.md
  package-lock.json
  package.json
Labels: (00) content, (00) engineering, (10) dependencies

#1389 Sunset the website
  _includes/meta.html
  _layouts/default.html
  package-lock.json
  package.json
Labels: (10) Do not merge
